<h1>Registrando asistencia</h1>
<div class="container register">
<p>Nombre: <i><%= @create_table_candidate_event.candidate.name %> <%= @create_table_candidate_event.candidate.last_name %></i></p>  
<%= render 'form' %>
</div>
