<h1>Registrando asistencia</h1>


<p>Nombre:<%= @create_table_candidate_event.candidate.name %> <%= @create_table_candidate_event.candidate.last_name %></p>
<%= render 'form' %>

<%= link_to 'Back', create_table_candidate_events_path %>
