<div class="center jumbotron">
  <h1> TEC CEM</h1>

  <h2>
    Aplicacion de registro de eventos preuniversitarios
  </h2>

  <%= link_to "Registrate!", new_account_registration_path , class: "btn btn-lg btn-primary" %>
</div>

