<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html, charset=UTF-8" http-equiv="Content-Type">
	</head>
	<body>
		<h1><%= @student.candidate.name %>,</h1>
		<p>Tu registro al evento <%= @evento.name %> ha sido exitoso. </p>
		<p>Presenta el día del evento el siguiente código QR ya sea en tu celular o impreso.</p>
		
	</body>
</html>
